*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#studentsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 20px;
}

.studentCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.studentCard.young {
    background-color: #ffe4e1; /* светло-розовый */
}